body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url(assets/leo.png);
    background-size: cover; 
    background-position: center;
    min-height: 100vh; /* Cambiado de 'height' a 'min-height' para que la imagen de fondo cubra todo el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%; /* Cambiado de 'max-width' a 'width' para asegurar que el contenido se ajuste en dispositivos móviles */
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Ajuste del ancho de los inputs para evitar desbordamiento en dispositivos móviles */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%; /* Hacer que el botón ocupe todo el ancho del contenedor */
}